.videoGameContainer{
  width: 100%;
  height: 100%
}

.poster{
  vertical-align: middle;
  border-style: none;
  width: 100%;
  margin: 14px;
  height: 21%;
  object-fit: cover;
}

#player{
  /* display: inline-block;
  position: relative;
  left: 61%; */
}

.short_screenshots{
  width: 24%;
  margin: 1px;
  height: 60%;
  object-fit: cover;
  position: relative;
}

#description{
  position: relative;
top: 15px;
  /* width: 33%;
  position: relative;
  bottom: 68%;
  display: inline-block;
  left: 62%; */
}

#screenshots{
  display: inline-block;
  margin-top: 20;
  position: relative;
  /* display: inline-block;
  width: 72%;
  position: relative;
  bottom: 44%;
  min-height: 628.5px; */
}
}

.info{
  /* font-size: 25px;
  position: relative;
  top: 8%; */
}

.imageWrapper{
  display: inline-block;
}

.posterText{
  color: white;
    -webkit-text-stroke: 1px black;
    font-size: 25px;
    position: absolute;
    bottom: 7%;
    left: 27%;
}

#getOtherGamesInSeries{
  /* width: 61%;
  position: relative;
  bottom: 80%;
  display: inline-block;
  min-height: 632.5px; */
}

.otherGameInSeriesWrapper{
  display: inline-block;
    right: 3%;
}

#otherGameTitle{
  position: relative;
  margin-top: 7%;
}

.otherGameInSeriesPosterText{
  color: white;
    -webkit-text-stroke: 1px black;
    font-size: 25px;
    position: absolute;
    bottom: 15%;
    left: 23%;
}

.otherGameInSeriesPoster{
  vertical-align: middle;
    border-style: none;
    width: 111%;
    height: 21%;
    object-fit: cover;
    display: inline-block;
    position: relative;
    margin-bottom: 1%;
}

.titleBreak{
  font-size: 20px;
}

#otherGameTitle{
  /* position: relative;
  bottom: 78%;
  left: 23%; */
}

#publishers{
  display: inline-block;
}

#esrbRating{
  display: inline-block;
}

#metacriticScore{
  display: inline-block;
}

#playtime{
  display: inline-block;
}

#released{
  display: inline-block;
}

#redditUrl{
  display: inline-block;
}

#website{
  display: inline-block;
}

#publishersAndOtherFacts{
  margin-top: 20px;
}
